# EDA Study

In [4]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [5]:
# Understanding the columns
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv", sep=",") ; df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [6]:
df.shape # More than 30 features to be used

(1470, 35)

In [7]:
from collections import Counter

df_class = df[["BusinessTravel","Attrition","Department","Education","EducationField",
               "RelationshipSatisfaction","StandardHours",
               "StockOptionLevel","YearsSinceLastPromotion","WorkLifeBalance"]]

columns = list(df_class.columns)

lst_columns=list(range(0,35))

kk = list(map(lambda x,col: 'column items:' + ' '+ col + ':' + ' ' + str(Counter(df_class[columns[x]])) ,lst_columns,columns)) ; kk

["column items: BusinessTravel: Counter({'Travel_Rarely': 1043, 'Travel_Frequently': 277, 'Non-Travel': 150})",
 "column items: Attrition: Counter({'No': 1233, 'Yes': 237})",
 "column items: Department: Counter({'Research & Development': 961, 'Sales': 446, 'Human Resources': 63})",
 'column items: Education: Counter({3: 572, 4: 398, 2: 282, 1: 170, 5: 48})',
 "column items: EducationField: Counter({'Life Sciences': 606, 'Medical': 464, 'Marketing': 159, 'Technical Degree': 132, 'Other': 82, 'Human Resources': 27})",
 'column items: RelationshipSatisfaction: Counter({3: 459, 4: 432, 2: 303, 1: 276})',
 'column items: StandardHours: Counter({80: 1470})',
 'column items: StockOptionLevel: Counter({0: 631, 1: 596, 2: 158, 3: 85})',
 'column items: YearsSinceLastPromotion: Counter({0: 581, 1: 357, 2: 159, 7: 76, 4: 61, 3: 52, 5: 45, 6: 32, 11: 24, 8: 18, 9: 17, 15: 13, 13: 10, 12: 10, 14: 9, 10: 6})',
 'column items: WorkLifeBalance: Counter({3: 893, 2: 344, 4: 153, 1: 80})']

In [8]:
df = df.drop(['Over18','EmployeeCount'],axis=1) # Dropping columns that doesn't make any sense, like this one.

In [9]:
for col in df.columns:
    var = df[col].isna().sum()
    print('The feature',col,'has', var, 'N.A values')

The feature Age has 0 N.A values
The feature Attrition has 0 N.A values
The feature BusinessTravel has 0 N.A values
The feature DailyRate has 0 N.A values
The feature Department has 0 N.A values
The feature DistanceFromHome has 0 N.A values
The feature Education has 0 N.A values
The feature EducationField has 0 N.A values
The feature EmployeeNumber has 0 N.A values
The feature EnvironmentSatisfaction has 0 N.A values
The feature Gender has 0 N.A values
The feature HourlyRate has 0 N.A values
The feature JobInvolvement has 0 N.A values
The feature JobLevel has 0 N.A values
The feature JobRole has 0 N.A values
The feature JobSatisfaction has 0 N.A values
The feature MaritalStatus has 0 N.A values
The feature MonthlyIncome has 0 N.A values
The feature MonthlyRate has 0 N.A values
The feature NumCompaniesWorked has 0 N.A values
The feature OverTime has 0 N.A values
The feature PercentSalaryHike has 0 N.A values
The feature PerformanceRating has 0 N.A values
The feature RelationshipSatisfaction has 0 N.A values
The feature StandardHours has 0 N.A values
The feature StockOptionLevel has 0 N.A values
The feature TotalWorkingYears has 0 N.A values
The feature TrainingTimesLastYear has 0 N.A values
The feature WorkLifeBalance has 0 N.A values
The feature YearsAtCompany has 0 N.A values
The feature YearsInCurrentRole has 0 N.A values
The feature YearsSinceLastPromotion has 0 N.A values
The feature YearsWithCurrManager has 0 N.A values

In [11]:
#_ = sns.histplot(df.Age)